<h1>Welcome back, <%= current_user.username.upcase %></h1>

<p><%= link_to "Add a Proposal", new_proposal_path %></p>

<br>**********<br><br>
<% if @proposals%>
  <h2><%= @user.username %>'s proposals:</h2>
  <ul class="no-bullets">
    <% @proposals.each do |e| %>
      <li><%= link_to "#{e.title}", e %></li>
    <% end %>
  </ul>
<% else %>
  <h2> No proposals yet! </h2>
<% end %>

<% if @experiments%>
  <h2><%= @user.username %>'s experiments:</h2>
  <ul class="no-bullets">
    <% @experiments.each do |e| %>
      <li><%= link_to "#{e.proposal.title}", e.proposal %></li>
    <% end %>
  </ul>
<% else %>
  <h2> No experiments yet! </h2>
<% end %>
