<% if @experiment %>
  <ul>
    <ul>Results: <%= @experiment.results %></ul>
    <ul>Conclusions: <%= @experiment.conclusions %></ul>
    <%= link_to "Edit Experiment", edit_proposal_experiment_path(proposal_id: @experiment.proposal.id, id: @experiment.id) %>
    <%= link_to "Delete", proposal_experiment_path(proposal_id: @experiment.proposal.id, id: @experiment.id), method: :delete%>
    <%= link_to "Back to proposal", proposal_path(@proposal)%>
    <%= link_to "Comment", new_experiment_comment_path(@experiment) %>
  </ul>
  <% if @experiment.comments %>
    <% @experiment.comments.each do |c| %>
      <p>"<%= c.body %>" - <%= link_to "#{c.commenter.email}", c.commenter %>
      <% if current_user.id == c.commenter.id %>
          <%= link_to "Delete", experiment_comment_path(@experiment, c), method: :delete%>
      <% end %></p>
    <% end %>
  <% end %>
<% else %>
  No experiments yet
<% end %>
