<h1>YOUR NEW PROPOSAL</h1>

<%= form_with(model: @proposal, local: true) do |f| %>
  <%= f.text_field :title, placeholder: "title" %>
  <%= f.text_area :summary, placeholder: "summary" %>
  <%= f.text_area :hypothesis, placeholder: "hypothesis" %>
  <%= f.hidden_field :status, value: "open" %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
<% end %>

