<h1>YOUR NEW PROPOSAL</h1>

<% form_with(model: @proposal, locals: true) do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :summary %>
  <%= f.text_area :hypothesis %>
  <%= f.hidden :status, value="open" %>
  <%= f.hidden :user, value=@user %>
  <%= f.submit %>
<% end %>

