<h1><%= @proposal.title %>; by <%= link_to @proposal.user.username, @proposal.user %></h1>
<div>
  SUMMARY: <%= @proposal.summary %><br><br>
  HYPOTHESIS: <%= @proposal.hypothesis %><br><br>
  STATUS: <%= @proposal.status %><br>
</div>

<% if @proposal.status == "in progess" %>
  <h2>EXPERIMENT BEING CONDUCTED BY: <%= @proposal.experimenter.username %></h2>
<% end %>
