<h1><%= @proposal.title %> :: <%= link_to @proposal.user.username, @proposal.user %></h1>
<div>
  SUMMARY: <%= @proposal.summary %><br><br>
  HYPOTHESIS: <%= @proposal.hypothesis %><br><br>
  STATUS: <%= @proposal.status %><br>
</div>

<% if @proposal.status == "in progess" %>
  <h2>EXPERIMENT BEING CONDUCTED BY: <%= @proposal.experimenter.username %></h2>
<% else %>
  <%= link_to "lead this experiment", new_proposal_experiment_path(@proposal) %>
<% end %><br><br>*********<br><br>

<%= link_to "add a comment", new_proposal_comment_path(@proposal) %>
<% if @proposal.comments %>
  <% @proposal.comments.each do |c| %>
    <p>"<%= c.body %>" - <%= link_to "#{c.commenter.email}", c.commenter %></p>
  <% end %>
<% end %>