<h1>Proposals#show</h1>
<p>Find me in app/views/proposals/show.html.erb</p>

  <%= @proposal.title %><br><br>
  <%= @proposal.summary %><br><br>
  <%= @proposal.hypothesis %><br><br>
  <%= @proposal.status %><br><br>
  <%= @proposal.user %><br><br>
